a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1109px;
  width: 100%;
  margin: auto;
}

header .nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header li {
  margin: 0px 15px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: #111111;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1109px;
  width: 100%;
  margin: auto;
  margin-top: 100px;
}

footer .nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer li {
  margin: 0px 15px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: #111111;
}

.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer_list .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100px;
  min-height: 15px;
  height: 100%;
  width: 100%;
  padding-top: 5px;
  padding-left: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1110px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.section_box_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 475px;
  width: 100%;
}

.section_box_content h1 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
}

.section_box_content p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
  font-size: 16px;
  line-height: 26px;
}

.section_box_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 475px;
  width: 100%;
}

.section_box_form input {
  border: none;
  padding-bottom: 16px;
  margin-top: 45px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.3);
}

.section_box_form input:hover {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

.section_box_form input::-webkit-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.section_box_form input:-ms-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.section_box_form input::-ms-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.section_box_form input::placeholder {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.section_box_form button {
  width: 125px;
  height: 50px;
  background-color: #4a4ff2;
  color: #ffff;
  border: none;
  margin-top: 45px;
}

.section_box_form button:hover {
  background-color: #ffff;
  color: #4a4ff2;
  border: 1px solid #4a4ff2;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section_map {
  max-width: 1110px;
  width: 100%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
/*# sourceMappingURL=Contacts.css.map */